<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     {% load static %}
    <link href="{% static 'css/visitor_home.css' %}" rel="stylesheet" type="text/css" media="all">
    <title>Welcome</title>

</head>
<body>

<div class="tabs">
    <input id="all" type="radio" name="tab_item" checked>
    <label class="tab_item" for="all">Register food preference</label>
    <input id="programming" type="radio" name="tab_item">
    <label class="tab_item" for="programming">Search Local Cuisine</label>
    <div class="tab_content" id="all_content">
        <p>Your preference: Avoid </p>
        {% for p in preference %}
            <form action="{% url 'visitor:delete' %}" method='post'>
            {% csrf_token %}
            <input type="hidden" value={{ p }} name="delete">
            <button name="delete_preference" >x</button>
            <div class="tag">
                {{ p }}
            </div>
          </form>


        {% endfor %}
        <form action='{% url 'visitor:register' %}' method='post' class='form'>
            <!-- ユーザー登録フォームを表示 -->
            {% csrf_token %}
            <input type="hidden" name="user_id" value={{ user_id }}>
            <ul>
                {% for category in ingredients_category %}
                <li>
                <details>
                <summary>{{ category.category }}</summary>
                <ul>
                    {% for ingredient in ingredient_list %}
                        {% if ingredient.category == category.category and ingredient.Jp_name not in preference %}
                            <input type="checkbox" name="ingredient_id"  value={{ ingredient.id }}><li><p>{{ ingredient.Jp_name }}</p></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                </details>
                 </li>
                {% endfor %}
            </ul>
            <button type='submit' class='btn btn-outline-primary'>登録</button>
        </form>

    </div>
    <div class="tab_content" id="programming_content">
        <div>
            Fukuoka's local cuisine
        </div>
        <ul class="bl_flexContainer">
            <li class="el_flexItem">
                <div class="box">
                    <img src="https://www.japan-guide.com/g9/4811_mentaiko.jpg" width="250" height="150" >
                    <p>Mentaiko</p>
                    <p>Mentaiko, the spicy version of salted cod roe (tarako), is a common Japanese food that can be
                        found nationwide accompanying rice or alcohol, used as filling for rice balls, or as a seasoning
                        in pasta dishes. Mentaiko is particularly famous in Fukuoka, where it originated by way of Korea,
                        and is a typical menu item at the yatai food stalls and izakaya around the city where it is usually
                        served raw or lightly seared.
                    </p>
                    <p class="button"><a href="cuisine#1" class="button_01 -compact">Search Restaurant</a></p>
                </div>
            </li>
            <li class="el_flexItem">
                <div class="box">
                    <img src="https://www.japan-guide.com/g9/4811_motsunabe.jpg" width="250" height="150" >
                    <p>Nabemono</p>
                    <p>Nabemono is a compound word, where nabe (鍋) refers to a cooking pot and mono (物) means things or stuff. The concept of a nabe is simple: it can be a mixture of fresh vegetables, meat, seafood, tofu, and soybean products, or seasonal ingredients, all to be cooked in a simmering soup broth in a pot.
                        Motsunabe is a local hot pot dish typically made up of beef or pork tripe, cabbage, garlic,
                        chives and togarashi peppers in a soy sauce or miso based soup. The inexpensive, slightly spicy
                        stew is usually cooked at the table on portable burners and served together with a bowl of white
                        rice. Noodles or additional rice may be added to the leftover soup in the pot at the end of the
                        meal to finish the dish.
                    </p>
                    <p class="button"><a href="cuisine#2" class="button_01 -compact">Search Restaurant</a></p>
                </div>
            </li>
            <li class="el_flexItem">
                <div class="box">
                    <img src="https://www.japan-guide.com/g9/4811_gyoza.jpg" width="250" height="150" >
                    <p>Gyoza</p>
                    <p>Gyoza are pan-fried, Chinese style dumplings, which are typically stuffed with a mixture of
                        ground pork, cabbage and green onions. While gyoza appear on the menus of ramen-ya, izakaya and
                        other restaurants nationwide, they are also a popular Fukuoka specialty where they are served in
                        large batches on ceramic or hot iron plates. Fukuoka, or Hakata, style gyoza can be found at
                        specialty gyoza shops around the city, especially around Hakata Station.
                    </p>
                    <p class="button"><a href="cuisine#4" class="button_01 -compact">Search Restaurant</a></p>
                </div>
            </li>
            <li class="el_flexItem">
                <div class="box">
                    <img src="https://www.japan-guide.com/g9/4811_hakataramen.jpg" width="250" height="150" >
                    <p>Ramen</p>
                    <p>Ramen is a Japanese noodle dish. Hakata Ramen is a local ramen dish that features thin noodles in a thick, creamy tonkotsu soup,
                        topped with slices of chashu. Some of the best places to enjoy Hakata Ramen are the city's
                        emblematic yatai food stalls. Hakata Ramen can also be found at any of the numerous ramen-ya in Fukuoka,
                        especially around Hakata Station.
                    </p>
                    <p class="button"><a href="{% url 'visitor:search' pk=3 %}" class="button_01 -compact">Search Restaurant</a></p>

                </div>
            </li>
        </ul>
    </div>
</div>

</body>
</html>