<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <p>Your preference: Avoid {{ preference.preference}}</p>
        <form action='{% url 'visitor:register' %}' method='post' class='form'>
            <!-- ユーザー登録フォームを表示 -->
            {% csrf_token %}
            <input type="hidden" name="user_id" value={{ user_id }}>
            <ul>
                {% for category in ingredients_category %}
                <li>
                <details>
                <summary>{{ category.category }}</summary>
                <ul>
                    {% for ingredient in ingredient_list %}
                        {% if ingredient.category == category.category  %}
                            <input type="checkbox" name="preference" value={{ ingredient.Jp_name }}><li><p>{{ ingredient.Jp_name }}</p></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                </details>
                 </li>
                {% endfor %}
            </ul>
            <button type='submit' class='btn btn-outline-primary'>登録</button>
        </form>

</body>
</html>