li{
    list-style:none;
    font-size: 20px;
    padding: 15px;

}

input{
    height: 20px;
    font-size: 20px;
    size: 20px;
    padding: 15px;
}
label{
    font-size: 20px;
}


button {
    font-size: 20px;
    background-color: #5ab4bd;
    border: none;
    color: #fff;
    width: 150px;
    height: 50px;
    align: "center";
    margin-top: 8px;
}

details{
    font-size: 20px;
}

.from{
    float: top;
    height: 50%;
    padding-bottom: 50px;
}

.ingredients_form{
    float: bottom;
    height: 50%;
}


.delete-button {
    border: none;
    background: transparent;
    color: #333333;
    width: 15px;
    margin-right: 5px;

}

.tag {
	display: inline-block;
	margin: 0 .1em .6em 0;
	padding: .6em;
	line-height: 1;
	text-decoration: none;
	color: #0000ee;
	background-color: #fff;
	border: 1px solid #0000ee;
	border-radius: 2em;
}

.item {
   /*width: calc(100% / 4);*/
   padding: 10px 5px;
   /*text-align: center;*/
}
.list--2{
  column-count: 2;
}