<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load hebon %}
    {% load to_int %}
    <link href="{% static 'css/restaurant_add.css' %}" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Title</title>
</head>
<body>
<div class="from">
    <form enctype="multipart/form-data" method="post" class="menu_form">
        <div>
            {% csrf_token %}
            {{ form.as_ul }}
{#            <label>カテゴリ</label>#}
{#            <select name="example" style="font-size: 30px">#}
{#                <option>麺類</option>#}
{#                <option>鍋</option>#}
{#                <option>めんたい</option>#}
{#            </select>#}
        </div>
        <div>
            <button type="submit" style="margin-top:5%; margin-left: 40%;" >投稿</button>
        </div>

    </form>

</div>



</body>
</html>